<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="https://www.yandex.by/"/>
    <add key="Username" value="webdrivertestuser"/>
    <add key="Password" value="y6A@jj5@"/>

    <!--Firefox/Chrome/InternetExplorer/Edge-->
    <add key="Browser" value="Chrome"/>

    <!--Any/Windows 10/Windows 7/Linux etc.-->
    <add key="Platform" value="Windows 10"/>

    <add key="UseSeleniumGrid" value="false"/>
    <add key="GridHubUrl" value="http://localhost:4444/wd/hub"/>

    <add key="UseSauceLabs" value="false"/>
    <add key="SauceLabsUsername" value="avdynut"/>
    <add key="SauceLabsAccessKey" value="306b6cdb-aaba-4208-9180-41743dbba0b8"/>
    <add key="SauceLabsHubUrl" value="http://ondemand.saucelabs.com:80/wd/hub"/>
  </appSettings>
</configuration>